/*  Global */
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
}

.section-heading h2 {
  font-size: 60px;
  font-weight: 700;
  color: whitesmoke;
  text-align: center;
  padding-top: 0.5em;
  text-transform: uppercase;
}

/* Navigation */
.navbar-brand {
  height: 40px;
  padding: 5px 15px;
  font-size: 28px;
  line-height: 1em;
  font-weight: 700;
}

#navigation a:hover {
  transition: 0.4s;
}

/* Intro Section */
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000080;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: whitesmoke;
}

@media only screen and (max-width: 850px) {
  .panel .headshot {
    float: left;
  }
  .panel .name-title {
    text-align: left;
  }
}
@media only screen and (max-width: 850px) {
  .panel {
    padding-top: 3em;
  }
}

.panel h1 {
  font-size: 4em;
  display: inline-block;
}

.panel a {
  padding-right: 1.5em;
  color: whitesmoke;
}
.panel a:hover {
  color: darkgrey;
  transition: 0.3s;
}

.headshot {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  position: relative;
  text-align: center;
}

/* Projects section */
#projects {
  background-color: #000080;
  padding: 3em 6% 5% 6%;
}

#projects p {
  font-size: 14px;
  font-weight: 200;
}

#projects img {
  height: auto;
  width: 90%;
}

#projects a {
  text-decoration: none;
  color: whitesmoke;
}
#projects a:hover {
  text-decoration: none;
  color: darkgrey;
  transition: 0.3s;
}

.new-badge {
  border-radius: 30px;
  color: #4f4f4f;
  font-size: 14px;
}

.ll-row {
  padding-bottom: 2em;
  padding-top: 2em;
}

.ll-details {
  color: whitesmoke;
}

.vid-class {
  padding-bottom: 2em;
}

.ll-video {
  width: 88%;
  height: 300px;
}

.quickplan-row {
  padding-top: 2em;
}

.quickplan-details {
  color: whitesmoke;
}

@media only screen and (max-width: 990px) {
  .quickplan-img {
    text-align: center;
  }
}

.pokemon-row {
  padding-top: 5em;
  color: whitesmoke;
}

@media only screen and (min-width: 990px) {
  .pokemon-pics {
    height: 400px;
  }
}

@media only screen and (max-width: 990px) {
  .pokemon-pics {
    margin-bottom: 3em;
  }
}

.carousel-inner {
  border: 8px solid #e5e5e5;
}

.quadris-row {
  margin-top: 3em;
  color: whitesmoke;
}

.other-projects a {
  margin-top: 3em;
  color: #9d9fcc;
}
.other-projects a:hover {
  color: #28293f;
  transition: 0.5s;
  text-decoration: none;
}

/* Experience section */
#experience {
  padding: 3em 6% 3% 6%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 0px 20px 20px rgba(0, 0, 0, 0.19);
}

#experience h2 {
  color: #3e4246 !important;
}

@media only screen and (max-width: 770px) {
  #experience h2 {
    font-size: 40px;
  }

  #experience li {
    font-size: 0.9em;
    padding-right: 1em;
  }
}

#experience ul {
  font-size: 14px;
  color: #4f4f4f;
  display: block;
  line-height: 180%;
}

.work-item {
  margin-bottom: 35px;
}

.worktitle {
  padding-top: 30px;
}

.city {
  color: #a5a5a5;
  font-size: 20px;
}

.company-name img {
  object-fit: contain;
  padding-top: 5px;
}

#contact {
  padding-top: 30px;
  background-color: #444563;
  height: 100px;
  color: whitesmoke;
  text-align: center;
}

#contact a {
  color: ghostwhite;
}

#contact a:hover {
  color: lightgrey;
  text-decoration: none;
}

#education h2 {
  color: #3e4246 !important;
}

#education h3 {
  color: #3e4246;
}

.uoft {
  font-size: 20px;
  font-style: italic;
  margin-left: 10px;
}

.uoft-info {
  text-align: center;
  color: #4f4f4f;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 850px) {
  #education h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 850px) {
  #education h4 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 850px) {
  #education h3 {
    font-size: 25px;
  }
}
